.jumbotronContainer {
    width: 100%;
    height: 20rem;
    background: rgb(20,47,47);
    background: linear-gradient(0deg, rgba(20,47,47,1) 0%, rgba(7,0,36,1) 100%);
    margin-bottom: 5rem;
}

.jumbotronContainer h1 {
    font-size: 2.5rem;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 5% 0% 0% 10%;
}

.jumbotronContainer p {
    font-size: 0.9rem;
    color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    padding: 0% 10% 0% 10%;
}

.jumbotronContainerBtn {
    width: 10rem;
    height: 3rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin: 0% 10% 0% 10%;
    background-color: #b75b69;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 1.2rem;
}