
.homeContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns:  auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: inherit;;
}

.homeJumbo {
    grid-row: 1;
}

.homeParagraph {
    margin: 0% 10% 10% 10%;
}

.homeCardGroup {
    grid-row: 2;

    margin: 0% 10% 10% 10%;
}

.card {
    transition: 0.5s;
}
.card:hover {
    background-color: rgb(231, 231, 231);
}